<nav class="border-bottom border-primary border-3 py-7">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex web_nav align-items-center">
          <a class="d-flex align-items-center flex-wrap" href="#">
            <img class="logo me-5"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
              alt="logo">
            <p class="logo_text fs-4">7TAO </p>
            <p class="logo_text fs-8 noto-tc-serif">活動訂票網</p>
          </a>
  
          <form class="d-flex h-55 mx-11">
            <input class="form-control " type="search" placeholder="探索活動" aria-label="Search">
            <button class="btn btn-primary" type="submit">
              <span class="material-icons text-warning align-middle">
                search
              </span>
            </button>
          </form>
        </div>

        <div class="user">
          <a class="d-flex px-7 text-hover" href="#">
            <span class="material-icons">
              feed
            </span>
            <p>REGISTER</p>
          </a>
          <a class="d-flex text-hover" href="#">
            <span class="material-icons">
              person
            </span>
            <p>LOGIN</p>
          </a>
        </div>

        <div class="hamburger">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="d-flex flex-column justify-content-start">
              <a class="d-flex px-7 text-hover" href="#">
                <span class="material-icons">
                  feed
                </span>
                <p>REGISTER</p>
              </a>
              <a class="d-flex text-hover" href="#">
                <span class="material-icons">
                  person
                </span>
                <p>LOGIN</p>
              </a>
            </div>
          </div>
          <nav class="navbar navbar-light text-primary ">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>
        </div>

        
      </div>
    </div>
  </nav>