@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import './utils/font';


@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';
@import './pages/event.scss';
@import './pages/checkout.scss';

@import "../../node_modules/bootstrap";