*{
  box-sizing: border-box;
}

.banner{
  position: relative;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true);
  background-size: cover;
  background-position: center center;  
  width: 100%;
  height: 518px;
  object-fit: cover;
  @include mobile{
    height: 350px;
  }
}
.banner_title{
  position: absolute;
  top: 48px;
  left: 48px;
  @include mobile{
    top: 16px;
    left: 40px;
  }
}
.banner_bodypoint{
  position: absolute;
  bottom:88px;
  left: 50%;
  transform: translate(-50%, 0);
  @include pad{
    bottom:24px;
  }
}
.banner_text{
  width: 100%;
  position: absolute;
  bottom:24px;
  left: 50%;
  transform: translate(-50%, 0);
  @include pad{
    display: none;
  }
}

// type 
.fs-24-16{
  font-size: 24px;
  @include pad{
    font-size: 20px;
  }
  @include mobile{
    font-size: 16px;
  }
}
.fs-48-24{
  font-size: 48px;
  @include pad{
    font-size: 32px;
  }
  @include mobile{
    font-size: 24px;
  }
}
.w-80{
  width: 80px;
  @include mobile{
    width: 40px;
  }
}
.pb--12{
  padding-bottom: 12px;
}
.py-35-20{
  padding: 35px 0;
  @include mobile{
    padding: 20px 0;
  }
}
.py-38-24{
padding: 38px 0px;
@include mobile{
  padding: 24px 0;
}
}
.h-196-112{
  // height: 100%;
  max-height: 196px;
  @include mobile{
    max-height: 112px;
  }
}
.mb-24-8{
  margin-bottom: 24px;
  @include mobile{
    margin-bottom: 8px;
  }
}

.w-col4{
  width: calc((100% - 120px)/6);

  @include pad{
    width: calc((50% - 16px)/3);
  }
  
  @include mobile{
    width: calc((100% - 16px)/3);
  }
}

// ONLINE 
.h-317-158{
  max-height: 317px;
  background-position: center right;  
  object-fit: cover;
  width: 100%;
  @include mobile{
    max-height: 158px;
  }
}
.h-45-55{
  height: 45px;
  @include mobile{
    height: 55px;
  }
}

// 拍立得 

p, h3 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  &:hover {
    color: #000000;
  }
}
.-rotate-2 {
  transform: rotate(-2deg) !important;
}
.rotate-2 {
  transform: rotate(2deg) !important;
}
.text-black {
  color: #000000;
}

.albums {
  padding-top: 60px;  
  padding-bottom: 60px;  
  @include mobile{
    padding-top: 48px;
    padding-bottom: 0px;
  }
}

.albums-tag {
  transform: translate(-50%, -50%) rotate(4deg);
}

.pic {
  object-fit: cover;
  height: 291px;
  @media(min-width:576px) {
    height: 274px;
  }
}

.title {
  font-size: 18px;
}

// 框框 
.wh-32{
  width: 32px;
  height: 32px;
}
.box ul{
  padding-left: 0;
}
.h-55{
  height: 55px;
}
.mt--38{
  margin-top: 38px;
}
.w-50-100{
  @include mobile{
    width: 100%;
  }
}

// sentence 
.text-32-18{
  font-size: 32px;
  @include mobile{
    font-size: 18px;
  }
}
.text-18-14{
  font-size: 18px;
  @include mobile{
    font-size: 14px;
  }
}