ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left: 0  ;
  }

  body .container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

// tags 
ul.tag>li>a.box-shadow{
  box-shadow: -4px 0px 0px 0px #000000;
}
ul.tag>li>a.box-shadow:hover{
  box-shadow: -4px 0px 0px 0px $warning;
  background-color: $primary ;
}
ul.tag>li>a.text-hover:hover{
  color: #fff ;
}
.p-2-10{
  padding: 2.5px 23px;
}
// card-event 

.w-24{
  width: 24px;
}
.w-16{
  width: 16px;
}
.event hr {
  margin: 0 ;
  color: $primary ;
  border: 3px solid ;
  border-top: 0px solid ;
  opacity: 1 ;
}
.max_h_255{
  max-width: 100%;
  height: 255px;
  background-position: center center;  
  object-fit: cover;
  @include mobile{
    height: 210px;
  }
}


.hover_line:hover{
  text-decoration:underline;
}
.sale{
  position: relative;
}
.up{
  z-index: 9;
}
.yellow_curcle{
  position: absolute;
}
.yellow_curcle:hover{
  left: -12px;
  top: -5pxpx;

  width: 29px;
  height: 29px;
  background-color: $warning;
  border-radius: 100px;
  display: inline;
}
// pages 

.pages .pagination{
  --bs-pagination-padding-x:0  ;
  --bs-pagination-padding-y:0  ;
  
  line-height: 1.5  ;
  --bs-pagination-border-color:$primary  ;
  --bs-pagination-bg:transparent  ;
  --bs-pagination-border-width: 0px  ;
  --bs-pagination-hover-color: $warning  ;
  --bs-pagination-hover-bg: $primary  ;
  --bs-pagination-hover-border-color: $primary  ;
  --bs-pagination-focus-color: $warning  ;

}
.pages .page-link{
  background-color: transparent  ;
  border: $primary  ;
  width: 40px;
  height: 40px;
}
.pages .page-link:hover {
  z-index: 2  ;
  color: $warning  ;
  background-color: $primary  ;
  border-color: $primary  ;
}

.pages .active{
  background-color: $primary;
  color: $warning;
}