ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-left: 0 !important;
  }

// nav /////////////////////////////////////////////////
.logo{
    width: 53px;
    @include mobile {
      width: 40px;
  }
}
// 搜尋框 ////////////////////////////////////////////
.h-55{
  height: 55px;
}

.form-control{
padding: 1rem 1.5rem !important;
border: 2px solid $primary !important;
background-color: transparent !important;
}

.user .text-hover{
  color: $primary;
}
.user .text-hover:hover{
  color:#9C9E18;
}

// tags 
ul.tag>li>a.box-shadow{
  box-shadow: -4px 0px 0px 0px #000000;
}
ul.tag>li>a.box-shadow:hover{
  box-shadow: -4px 0px 0px 0px $warning;
  background-color: $primary ;
}
ul.tag>li>a.text-hover:hover{
  color: #fff ;
}
.p-2-10{
  padding: 2.5px 23px;
}
// card-event 

.w-24{
  width: 24px;
}
.w-16{
  width: 16px;
}
.event hr {
  margin: 0 ;
  color: $primary ;
  border: 3px solid ;
  border-top: 0px solid ;
  opacity: 1 ;
}
.max_h_255{
  max-height: 255px;
  object-fit: cover;
  @include mobile{
    max-height: 210px;
  }
}

// pages 

.p--11{
  padding: 11px;
}

.pagination{
  --bs-pagination-padding-x:0 !important;
  --bs-pagination-padding-y:0 !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 1.5 !important;
  --bs-pagination-border-color:$primary !important;
  --bs-pagination-bg:transparent !important;
  --bs-pagination-border-width: 0px !important;
  --bs-pagination-hover-color: $warning !important;
  --bs-pagination-hover-bg: $primary !important;
  --bs-pagination-hover-border-color: $primary !important;
  --bs-pagination-focus-color: $warning !important;


    // --bs-pagination-padding-x: 0.75rem;
    // --bs-pagination-padding-y: 0.375rem;
    // --bs-pagination-font-size: 1rem;
    // --bs-pagination-color: var(--bs-link-color);
    // --bs-pagination-bg: #fff;
    // --bs-pagination-border-width: 1px;
    // --bs-pagination-border-color: #dee2e6;
    // --bs-pagination-border-radius: 0.375rem;
    // --bs-pagination-hover-color: var(--bs-link-hover-color);
    // --bs-pagination-hover-bg: #e9ecef;
    // --bs-pagination-hover-border-color: #dee2e6;
    // --bs-pagination-focus-color: var(--bs-link-hover-color);
    // --bs-pagination-focus-bg: #e9ecef;
    // --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(3, 3, 3, 0.25);
    // --bs-pagination-active-color: #fff;
    // --bs-pagination-active-bg: #030303;
    // --bs-pagination-active-border-color: #030303;
    // --bs-pagination-disabled-color: #6c757d;
    // --bs-pagination-disabled-bg: #fff;
    // --bs-pagination-disabled-border-color: #dee2e6;
}
.page-item:hover{
  color: $warning;
  background-color: $primary;
}
.page-item{
  width: 40px !important;
  height: 40px !important;
}
.page-link{
  padding:0px !important;
  margin: 0;
}
.p-8-9-15{
  padding: 8px 15px 9px 15px !important;
}

.page .active{
  background-color: $primary;
  color: $warning;
}