<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week6</title>
    <!-- icon  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->

    <nav>
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <a class="d-flex align-items-center" href="#">
            <img class="logo pe-5" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo">
            <p class="fs-4">7TAO </p>
            <p class="fs-8 noto-tc-serif">活動訂票網</p>
          </a>

          <form class="d-flex h-55">
            <input class="form-control " type="search" placeholder="探索活動" aria-label="Search">
            <button class="btn btn-primary" type="submit">
              <span class="material-icons text-warning align-middle">
                search
                </span>
            </button>
          </form>

          <div class="user d-flex">
            <a class="d-flex px-7" href="#">
              <span class="material-icons">
                feed
                </span>
              <p>REGISTER</p>
            </a>
            <a class="d-flex" href="#">
             <span class="material-icons">
               person
               </span>
              <p>LOGIN</p>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="frame d-flex justify-content-between align-items-center border border-primary border-3 px-8 py-7 my-8">
        <h1 class="fs-1">EVENT</h1>
        <h3 class="noto-tc-serif fs-4">所有活動</h3>
      </div>
      <!-- <div class="row">
        <div class="col-12"> -->
          <ul class="tag d-flex flex-wrap mb-7">
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">演出</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">音樂</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">舞蹈</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">戲劇</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">音樂會</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">課程講座</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">社群活動</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">展覽</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">研討會</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">電影</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">電音派對</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">遊戲競賽</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">親子</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">藝文活動</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">運動</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">交通旅遊</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">美食</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">資訊科技</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">聯誼</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">戶外</a></li>
            <li class="border border-1 border-dark p-2-10 box-shadow me-2 mb-2"><a href="#">線上活動</a></li>
          </ul>
        <!-- </div>
      </div> -->
      <div class="row events">
        <div class="col-lg-4 col-sm-12">
          <h2 class="fs-3">19 MAY 2023</h2>
          <hr class="my-3">
          <img class="card-img-top" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="">
          <h4 class="card-subtitle fs-5 noto-tc-serif">邪典電影派對——房間</h4>
          <p class="card-text fs-8 noto-tc-sans">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
          <div class="d-flex justify-content-between">
            <div class="movie d-flex align-items-center">
              <img class="w-24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="" class="icon">
              <p>電影</p>
            </div>
            <a class="sale d-flex align-items-center card-link" href="#">
              <p>開賣中</p>
              <span class="material-icons w-16">
                keyboard_double_arrow_right
                </span>
            </a>
          </div>
        </div>
      </div>
      <div class="pages"></div>
      
    </div>
    <footer>
      <p>© 7TAO七逃. All Rights Reserved</p>
    </footer>

    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
