<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>week6</title>
  <!-- icon  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('./layout/header'); -%>
  <div class="container">
    <div class="banner">
      <h2 class="fs-1 text-light banner_title">19 MAY 2023</h2>
      <h4 class="fs-5 text-center text-light noto-tc-serif banner_bodypoint">隔牆有耳-沒有草東的派對</h4>
      <p class="fs-8 text-center text-light noto-tc-sans banner_text">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
    </div>
    <!-- ///////////////////// nav ////////////////////// -->
    <div class="nav mt-lg-11 mb-lg-7 mt-sm-7 mt-sm-5 d-block">
      <ul class="m-0 p-0 d-flex flex-wrap justify-content-between w-100">
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-35-20">
          <a href="#">
            <img class="w-80 pb--12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/cate01.svg?raw=true" alt="">
            <p class="fs-24-16 text-center noto-tc-serif">演出</p>
          </a>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-35-20">
          <a href="#">
            <img class="w-80 pb--12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/cate02.svg?raw=true" alt="">
            <p class="fs-24-16 text-center noto-tc-serif">聯誼</p>
          </a>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-35-20">
          <a href="#">
            <img class="w-80 pb--12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/cate03.svg?raw=true" alt="">
            <p class="fs-24-16 text-center noto-tc-serif">展覽</p>
          </a>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-35-20">
          <a href="#">
            <img class="w-80 pb--12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/cate04.svg?raw=true" alt="">
            <p class="fs-24-16 text-center noto-tc-serif">美食</p>
          </a>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-35-20">
          <a href="#">
            <img class="w-80 pb--12" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/cate05.svg?raw=true" alt="">
            <p class="fs-24-16 text-center noto-tc-serif">戶外</p>
          </a>
        </li>
        <li class="d-flex flex-column justify-content-center align-items-center w-col4 border border-2 border-primary h-196-112 mb-24-8 py-38-24 bg-primary">
          <a href="#">
            <p class="fs-48-24 text-center text-warning noto-tc-serif">探索<br>更多</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- /////////////////// title /////////////////// -->
    <div class="frame d-flex justify-content-between align-items-center border border-primary border-3 px-8 py-7 mb-8">
      <h1 class="fs-1">RECENT</h1>
      <h3 class="noto-tc-serif fs-4">近期活動</h3>
    </div>

    <!-- /////////////////////// event ///////////////////////////// -->
    <div class="row events">
      <!-- 123  -->
      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">19 MAY 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">邪典電影派對——房間</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
          製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">電影</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <div class="yellow_curcle"></div>
            <p class="up">開賣中</p>
            <span class="material-icons w-16 up">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>

      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">23 MAY 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">怪舞俱樂部</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">
          覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">演出</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <p>檢視活動</p>
            <span class="material-icons w-16">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>

      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">30 MAY 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">哈利波特馬拉松</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">
          每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">研討會</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <p>開賣中</p>
            <span class="material-icons w-16">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>
      <!-- 456  -->
      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">12 June 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">皮卡丘排球大賽</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">
          還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">演出</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <p>開賣中</p>
            <span class="material-icons w-16">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>

      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">25 June 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">酒精路跑</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">
          身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">社群活動</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <p>開賣中</p>
            <span class="material-icons w-16">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>

      <div class="event col-lg-4 col-sm-12 px-3 pb-11">
        <h2 class="fs-3">9 July 2023</h2>
        <hr class="my-3">
        <img class="card-img-top max_h_255"
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true" alt="">
        <h4 class="card-subtitle fs-5 noto-tc-serif my-3">展覽——我的房間</h4>
        <p class="card-text fs-8 noto-tc-sans mb-5">
          每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
        <div class="d-flex justify-content-between py-3 border-top border-bottom border-primary border-2">
          <div class="movie d-flex align-items-center">
            <img class="w-24"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
              alt="" class="icon">
            <p class="hover_line">展覽</p>
          </div>
          <a class="sale d-flex align-items-center card-link" href="#">
            <p>開賣中</p>
            <span class="material-icons w-16">
              keyboard_double_arrow_right
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- /////////////////// title2  ONLINE /////////////////// -->
    <div class="frame d-flex justify-content-between align-items-center border border-primary border-3 px-8 py-7 my-8">
      <h1 class="fs-1">ONLINE</h1>
      <h3 class="noto-tc-serif fs-4">線上活動</h3>
    </div>

    <div class="slider d-flex flex-wrap justify-content-between align-items-bottom mb-lg-12 mb-sm-8">
      <img class="col-lg-7 col-sm-12 h-317-158 pe-lg-7 pe-sm-0 mb-sm-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/online.jpg?raw=true" alt="">
      <div class="information col-lg-5 col-sm-12">
        <h3 class="fs-4 noto-tc-serif pb-5">切特居批踢</h3>
        <ul class="tag d-flex flex-wrap mb-8">
          <li><a class="noto-tc-serif border border-1 border-dark p-2-10 box-shadow me-2 mb-2 text-hover d-block" href="#">競賽</a></li>
          <li><a class="noto-tc-serif border border-1 border-dark p-2-10 box-shadow me-2 mb-2 text-hover d-block" href="#">科技</a></li>
          <li><a class="noto-tc-serif border border-1 border-dark p-2-10 box-shadow me-2 mb-2 text-hover d-block" href="#">有趣</a></li>
        </ul>
        <p class="noto-tc-sans mb-8">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
          這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
          該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
        <a class="fs-6 noto-tc-sans bg-primary w-100 text-light d-flex justify-content-center align-items-center h-45-55" href="">查看活動詳情<span class="material-icons align-middle">
          keyboard_double_arrow_right
          </span></a>
      </div>
    </div>
    <!-- ///////////////// 跑馬燈QQ //////////////////////// -->
    <!-- ///////////////////// 拍立得 ////////////////////// -->
    <div class="container albums">
      <ul class="row list-unstyled mb-0 flex-column flex-md-row gy-mb-4 gy-5 align-items-center align-items-md-stretch">
        <li class="col-lg-3 col-md-6 col-10">
          <div class="card rounded-0 h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative mb-10">
            <p class="albums-tag noto-tc-sans bg-white px-3 py-2 text-center position-absolute top-0 start-50">
              社群活動
            </p>
            <img class="pic mb-3" src="https://amanoizumi.github.io/7TAO-web-layout/assets/01-69833549.jpg" alt="albums-picture">
            <h3 class="title noto-tc-serif">
              <a href="#" class="text-black stretched-link">
                無聲派對-閉閉嘴dancing
              </a>
            </h3>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-10">
          <div class="card rounded-0 h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative -rotate-2 mb-10">
            <p class="albums-tag noto-tc-sans bg-white px-3 py-2 text-center position-absolute top-0 start-50">
              藝文活動
            </p>
            <img class="pic mb-3" src="https://amanoizumi.github.io/7TAO-web-layout/assets/02-4ea8adb9.jpg" alt="albums-picture">
            <h3 class="title noto-tc-serif">
              <a href="#" class="text-black stretched-link">
                拯救老店大作戰
              </a>
            </h3>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-10">
          <div class="card rounded-0 h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative rotate-2 mb-10">
            <p class="albums-tag noto-tc-sans bg-white px-3 py-2 text-center position-absolute top-0 start-50">
              自我覺察
            </p>
            <img class="pic mb-3" src="https://amanoizumi.github.io/7TAO-web-layout/assets/03-24acffc0.jpg" alt="albums-picture">
            <h3 class="title noto-tc-serif">
              <a href="#" class="text-black stretched-link">
                內觀修行-部落篇
              </a>
            </h3>
          </div>
        </li>
        <li class="col-lg-3 col-md-6 col-10">
          <div class="card rounded-0 h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative -rotate-2 mb-10">
            <p class="albums-tag noto-tc-sans bg-white px-3 py-2 text-center position-absolute top-0 start-50">
              聯誼活動
            </p>
            <img class="pic mb-3" src="https://amanoizumi.github.io/7TAO-web-layout/assets/04-a72b863b.jpg" alt="albums-picture">
            <h3 class="title noto-tc-serif">
              <a href="#" class="text-black stretched-link">
                賞櫻野餐
              </a>
            </h3>
          </div>
        </li>
      </ul>
    </div>
    <!-- ///////////////// 跑馬燈QQ //////////////////////// -->
    <!-- /////////////////contact//////////////////// -->
    <div class="boxes d-flex flex-wrap align-items-center justify-content-center">

      <div class="box border border-1 border-primary col-lg-6 col-sm-12 w-50-100">
        <h3 class="fs-5 border border-1 border-primary py-5 px-lg-8 px-sm-3">#FOLLOW US</h3>
        <div class="inside border border-1 border-primary p-8">
  
          <p class="pb-8">想第一時間獲得新奇有趣的活動資訊？<br>
            追蹤我們的社群吧！<br>
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
          <ul>
            <li class="align-middle pb-5"><div class="bg-dark d-inline-block text-center align-middle wh-32 me-5"><img src="../assets/images/ui-email.svg" alt=""></div>7tao.event@gmail.com</li>
            <li class="align-middle pb-5"><div class="bg-dark d-inline-block text-center align-middle wh-32 me-5"><img src="../assets/images/phone.svg" alt=""></div>09123123123</li>
            <li class="align-middle "><div class="bg-dark d-inline-block text-center align-middle wh-32 me-5"><img src="../assets/images/facebook.svg" alt=""></div>7TAO七逃</li>
          </ul>
        </div>
      </div>
  
      <div class="box border border-1 border-primary col-lg-6 col-sm-12 w-50-100">
        <h3 class="fs-5 border border-1 border-primary py-5 px-lg-8 px-sm-3">#SUBSCRIBE US</h3>
        <div class="inside border border-1 border-primary d-flex justify-content-between flex-column">
          <div class="smbox p-8">

            <p class="pb-8">訂閱電子報送折價券！<br>
              定期精選文章資訊及最新優惠資訊，<br>
              還不通通給我訂閱起來？</p>
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"></label> -->
              <input type="email" class="form-control h-55 noto-tc-sans" id="exampleFormControlInput1" placeholder="輸入Email"></div>
          </div>

          <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center mt--38">確認訂閱<span class="material-icons align-middle">
            keyboard_double_arrow_right
            </span></button>
        </div>
      </div>
    </div>
    
  </div>
  <!-- sentence  -->
  <div class="frame border-top border-primary border-3 pt-12 mt-12">
    <h3 class="text-32-18 noto-tc-serif text-center mb-5">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
    <p class="text-18-14 noto-tc-serif text-center">——我也不知道誰說的</p>
  </div>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>